.projects-container {
    background-color: #000;
    min-height: 90vh;
    color: white;
    padding-top: 4rem;
}

.slider-container {
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    height: 25rem;
    margin: 2rem;

    .right,
    .left {
        height: 100%;
        cursor: pointer;

        i {
            height: 100%;
            display: grid;
            place-items: center;
            color: #0ad663;
            font-size: 2rem;
        }
    }
}

.slider-body {
    overflow: hidden;
    height: 100%;
    .all-slides {
        height: 100%;
        width: max-content;
        transition: 1s;
    }
}
.each-slider {
    color: black;
    height: 95%;
    color: white;
    float: left;
    width: 20rem;
    margin-right: 2rem;
    border: 2px solid gray;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 10rem 3rem 5rem 2rem;
    .img {
        width: 90%;
        margin: auto;
        img {
            width: 100%;
            height: 9rem;
        }
    }
    .title{
        margin: auto;
        color: #0ad663;
        font-size: 1.5rem;
        width: 80%;
    }
    .dis {
        width: 18rem;
        margin: auto;
        overflow-wrap: break-word;
        line-height: 1.5rem;
    }
    .link{
        padding: 1rem;
        color: #0ad663;
        cursor: pointer;
    }
}
